.App {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  margin-top: calc(20px + 4vh);
  background-color: #F0F4F8;
  min-height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 1.5vmin);
  color: #102A43;

  box-shadow: 0px 0px 2px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.18);

}

.App-header {
  background-color: #27AB83;
  /* background-color: #65D6AD; */
  width: 100%;
  padding: 3em;
  margin-bottom: 3em;
  /* border-top: solid 3px #147D64; */
  border-bottom: solid 3px #147D64;
  color: #F0F4F8;
}

.App-header h1 {
  font-size: calc(15px + 5vmin);
  font-weight: 500;
  margin-bottom: 0.2em;
}

.app-navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: calc(20px + 4vh);
  width: calc(100vw - (100vw - 100%));
  /* background-color: #27AB83; */
  background-color: #f9fcff;
  font-size: calc(10px + 0.5vmin);
  border-bottom: 0.2em solid #147D64;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.18)
}

.main-button {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color: #F0F4F8;
  padding: 0.6em;
  border: 1px solid #147D64;
  border-radius: 0.5em;
  background-color: #27AB83;
  /*background-color: #147D64;*/
  margin-bottom: 0.75em;
  width: 12em;
  /*background-color: #61dafb;*/

  box-shadow: 0px 2px 8px rgba(0,0,0,0.18)
}

.main-button:hover {
  background-color: #0C6B58;
  color: white;
  text-decoration: none;
}

.navbar-button {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  /* color: #F0F4F8; */
  color: #147D64;
  padding: 0.6em;
  border: 0.15em solid #147D64;
  border-radius: 0.5em;
  width: 4em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  background-color: transparent;
}

.navbar-button:hover {
  background-color: #27AB83;
  color: white;
  text-decoration: none;
}

#menu-button {
  z-index: 10;
  position: fixed;
  left: 0px;
  fill: #147D64;
  margin-top: 5px;

  transition: left 0.15s;
  transition-delay: 0.02s;
  transition-timing-function: linear;
}

#mySidenav {
  /* background-color: #102A43; */
  background-color:#014D40;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 450px;
  left: -450px;
  z-index: 5;

  transition: left 0.2s;
  transition-timing-function: ease-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
