.App {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  padding-top:60px;
}

.app-navbar {
  position: fixed;
  top: 0;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: calc(100vw - (100vw - 100%));
  /* background-color: #27AB83; */
  background-color: #f9fcff;
  /* font-size: calc(10px + 0.5vmin); */
  font-size: 15px;
  border-bottom: 3px solid #147D64;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.18)
}

.App-header {
  background-color: #27AB83;
  background-image: linear-gradient(140deg, #cce66d, #6dbb86, #27AB83);
  width: 100%;
  padding: 3em;
  margin-bottom: 3em;
  /* border-top: solid 3px #147D64; */
  border-bottom: solid 3px #147D64;
  color: #F0F4F8;
}

.App-header h1 {
  font-size: calc(15px + 5vmin);
  font-weight: 500;
  margin-bottom: 0.2em;
}

.App-header h4 {
  font-size: calc(15px + 2vmin);
  font-weight: 350;
}

.App-body {
  /* margin-top: 60px; */
  background-color: #F0F4F8;
  min-height: 90vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 1.5vmin);
  color: #102A43;

  box-shadow: 0px 0px 2px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.18);

}

#encounter-body {
  padding-top: 50px;
  align-items: center;
  /* text-align: left; */
  width: 850px;
}

.main-button {
  text-decoration: none;
  font-weight: 500;
  color: #F0F4F8;
  padding: 0.6em;
  border: 1px solid #147D64;
  border-radius: 0.5em;
  background-color: #27AB83;
  /*background-color: #147D64;*/
  margin-bottom: 0.75em;
  width: 12em;
  /*background-color: #61dafb;*/

  transition: background-color 0.15s;
  transition: box-shadow 0.2s;

  box-shadow: 0px 2px 8px rgba(0,0,0,0.18)
}

.main-button:hover {
  background-color: #147D64;
  color: white;
  text-decoration: none;

  box-shadow: 0px 2px 20px rgba(0,0,0,0.30)
}

.navbar-button {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  /* color: #F0F4F8; */
  color: #147D64;
  padding: 0.6em;
  border: 0.15em solid #147D64;
  border-radius: 0.5em;
  width: 5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  background-color: transparent;

  transition: all 0.15s;
  transition-delay: 0.01s;
}

.navbar-button:hover {
  background-color: #27AB83;
  color: white;
  text-decoration: none;
}

#title-link {
  display: inline-block;
  margin-left: 60px;
  height: 100%;
  color: #147D64;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}

#title-link:hover {
  color: #014D40;
}

.sidenav {
  /* background-color: #102A43; */
  background-color:#014D40;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 450px;
  z-index: 5;

  transition: left 0.2s;
  transition-timing-function: ease-out;
}

#sidenav-collapsed.sidenav {
  left: -450px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

#sidenav-expanded.sidenav {
  left: 0px;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
}

#menu-button {
  z-index: 10;
  position: fixed;
  left: 5px;
  margin-top: 5px;

  transition: transform 0.05s;
  transition-delay: 0.02s;
  transition-timing-function: linear;
}

#sidenav-expanded #menu-button {
  fill: #EFFCF6;
  transform: scaleX(-1);
}

#sidenav-collapsed #menu-button {
  fill: #147D64;
  transform: scaleX(1);
}

#creature-list {
  font-size:20px;
  float: left;
  list-style-type: none;
  padding: 2px 0.75em 20px 0.75em;
   position: fixed;
   left: 5px;
  margin-right: 50px;
  height: calc(100vh - 60px);
  background-color: #27AB83;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.18);

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#creature-list li {
  padding: .5em;
  width: 13em;
  /* margin-bottom: 0.3em; */
  background-color: rgb(246, 255, 251);
  border-bottom: 2px solid #147D64;
}

#creature-list li:hover {
  background-color: rgb(153, 221, 190);
  cursor: grab;
}

.added-creature {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  background: #c9d4d0;
}